<script type="text/javascript">
$(function(){init_index();});
</script>    


#the-panel 
  <a href="#" class="btn primary" id="the-button" onclick="press_the_button()">press me!</a>
  #the-number= $redis.get 'press_button_number'

